body {
    background-color: #303030;
    border: 3px solid #aaaaaa;
    font-family: 'Acme', sans-serif;
    color:#FFFFFF;
    margin: 0;
}
div{
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.outline {
    border: 3px solid #aaaaaa;

}
.footer {
    background-color: #aaaaaa;
    color: #303030;
    margin: 0;
}
.actions, #switcher {
    flex-direction: row;
}
#inventory, #barshmallows {
    
    padding: 3px 6px;
}
.lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 630px;
}
.barshmallow {
    width: 300px;
    height: fit-content;
    color:#FFFFFF;
    background-color: #686868;
}
input,.tab {
    padding: 8px;
    font-size: 14pt;
    background-color: #aaaadd;
    color: #686868;
    border: 5px ridge #686868;
    border-radius: 0%;
    font-family: 'Acme', sans-serif;
    margin: 8px;
}
input:hover , .tab:hover {
    background-color: #FFFFFF;
    border: 5px ridge #aaaaaa;
}
.img , img {
    width: 150px;
    height: 150px;
}
#versionmarker::after {
    content: " CSS Version Alpha 5";
}
a{
    text-decoration: none;
    color: #aaaadd;
}
a:hover{
    color: #ffffff;
}
.footer a {
    color: #686868;
}
.footer a:hover{
    color: #FFFFFF;
}
#tabs {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #aaaaaa;
}
.tabb {
    height:0px;
    scale: 0%;
}
.open {
    height:fit-content;
    scale: 100%;
}
body.fixed-nav #main {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}
#main {
    background-color: #303030;
    transform: translate3d(0,0,-1px);
    
    transition:all 0.5s;
    position: relative;
    z-index: 1;
    
}
.notification {
    padding-left: 8px;
    padding-right: 8px;;
}
.message {
    border:groove #aaaadd 3px;
    padding: 3px;
    margin: 3px;
}
#switcher .hidden {
    width: 0;
    scale: 0;
    margin: 0;
}